html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Berkshire Swash', cursive;
    background-color: var(--primary-color);
}

:root {
    --primary-color: #FDF3F7;
    --second-color: #941a5d;
    --third-color: #c84f91;
}

.font{
    color: var(--second-color);
    font-weight: bold;
    font-size: larger;
}

.logo {
    width: 17rem;
}

.header_div {
    display: flex;
    justify-content:space-evenly;
}

.header {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    z-index: 1;

}

.header_nav {
    display: none;
}


.header_nav_ul {
    list-style-type: none;
    margin: auto;

}

.header_nav a {
    display: block;
    text-align: end;
    text-decoration: none;
    padding: 1rem;
    color: var(--primary-color);
    font-size: 1.8rem;
    border-bottom: 2px var(--third-color) solid;
}

.header_nav.show {
    display: block;
    background-color:var(--second-color);
    margin: 0;
    padding: 0;
}

.header_nav a:hover {
    background-color: var(--third-color);
}



.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#hamburguer {
    display: block;
    margin-top: 7rem;
    text-align: end;
    cursor: pointer;
    font-size: 3rem;
    color: #A6246C;
}

.sections {
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
    color: white;
    background-color: var(--primary-color);
}

.sections h1{
    padding: 1.5rem;
}

.container_sobre-mim {
    background-image: radial-gradient(#c84f91e4, var(--second-color));
}

.container_sobre-mim h1{
    color: white;
}

.foto {
    width: 20rem;
    border-radius: 50%;
    border: 0.5rem var(--third-color) solid;
}

.tamanho img {
    max-width: 100px;
    max-height: 100px;
    background-position: center;
    display: grid;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(var(--primary-color), #000);
}

.img_jornada {
    width: 30rem;
    display: none;
}

.container_desafios {
    background-image: repeating-linear-gradient(to left, var(--second-color) 5%, var(--third-color) 10%);
    filter: opacity(70%);
    text-align: center;
}

.container_desafios h1{
    color: white;
}


.container_jornada {
    color: var(--second-color);
    background-color: var(--primary-color);
}

.container_jornada h1 {
    text-align: center;
    margin: auto;
}

.container_habilidades {
    color: var(--second-color);
    background-color: var(--primary-color);
}

.container_habilidades_lista{
    text-align: left; 
    color: var(--third-color);
    border-radius: 5px;
    padding: 2rem;
    border: 4px var(--third-color) solid;
}

.container_habilidades_li{
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    gap: 1.5rem;
    margin: auto;
    box-sizing: border-box;
}


.container_aprendizados {
    color: var(--second-color);
    background-color: var(--primary-color);
    padding: 3rem;
}

.section_projetos{
    background-color: var(--primary-color);   
    display: grid;
    grid-template-columns: 1fr;

}

.cards{
    margin: 2rem;
    color: white;
    background-color: var(--second-color);
    border: 3px var(--second-color) solid;
    border-radius: 5px;
}


.card_img img{
    width: 100%;
    border-bottom: 2px var(--second-color) solid;
}

.cards_links{
    padding: 1rem;
}

.cards_links a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: 2px white solid;
    border-radius: 5px;
    padding: 0.5rem;
}

.cards_links a:hover{
    background-color: color-mix(in srgb, var(--second-color) 60%, white 40%);
}

.icons {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.text_footer {
    color: var(--third-color);
    text-align: center;
    font-size: 1.8rem;
}

.text_footer p {
    margin: 0;
}

.footer {
    background-color: black;
}

@media screen and (min-width: 768px) {

    .jornada {
        display: inline-flex;
        justify-content: center;
    }

    .img_jornada {
        width: 30rem;
        display: flex;

    }

    .foto {
        width: 25rem;
        border-radius: 50%;
        border: 0.5rem var(--third-color) solid;
    }


    .header {
        display: flex;
        justify-content: space-evenly;
    }

    .header_nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: center;
        gap: 1rem;
        background-color: var(--primary-color);

    }

    .header_nav a {
        margin: 1rem;
        color: var(--second-color);
        border-radius: 5px;
        border: 1px var(--second-color) solid;
        text-align: center;
    }

    .header_nav a:hover {
        background-color: color-mix(in srgb, var(--second-color) 10%, transparent 80%);
    }

    .header_nav {
        display: flex;
    }

    .header_nav.show {
        display: none;
    }

    #hamburguer {
        display: none;
        margin-top: 4rem;
        text-align: end;
        cursor: pointer;
        font-size: 3rem;
        color: #A6246C;
    }


    .container_aprendizados{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .carousel{
        width: 70%;
        text-align: center;

    }

    .section_projetos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cards{
        margin: 2rem;
        color: white;
        background-color: var(--second-color);
        border: 3px var(--second-color) solid;
        border-radius: 5px;
    }


}


@media screen and (min-width: 1024px){
    .container_jornada {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }

    .jornada{
        display: block;
    }

    .img_jornada{
        width: 40rem;
    }

    .texto_jornada{
        padding: 5rem;
    }

    .container_aprendizados{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
    }
    
    .carousel{
        width: 90%;
        text-align: center;
        justify-content: center;

    }

    .texto_aprendizado{
        padding: 5rem;
    }

    .container_desafios{
        padding: 8.5rem;
        font-size: 2.5rem;
    }

    .container_habilidades{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .texto_habilidades{
        padding: 4rem;
    }

    .container_habilidades_lista{
        padding: 2rem;
        margin: auto;
    }

    .section_projetos{
        grid-template-columns: 1fr 1fr 1fr;
        filter: opacity(70%)
    }

}